header {
    padding: 20px;
}

header h1 {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
}

article p {
    color: #dddddc;
    line-height: 20px;
}

aside {
    float: right;
}

.main {
    float: left;
    width: 68%;
}

aside section:last-of-type {
    background-color: #10cfb9;
}